*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
overflow-x: hidden;
--ff-main: "Roboto", sans-serif;
--ff-title: "Allison", cursive;     /* change to retro
--ff-title2: "Bebas Neue", cursive; /* change */
--ff-title3: "Qwigley", cursive;
--ff-title4: "Special Elite", cursive;
--clr-neutral-100: rgb(255, 255, 255);
--clr-neutral-200: rgb(176, 176, 176);
--clr-neutral-800: rgb(45, 45, 45);
--clr-neutral-trans: rgba(0, 0, 0, 0.65);
--clr-neutral-900: #000;
--border-radius: 0.5rem;
--transition: all 0.25s ease-in-out;
color: var(--clr-neutral-100);
background-color: var(--clr-neutral-900);
font-family: var(--ff-main);
font-weight: 400;
line-height: 1;
}

#container {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(rgb(0 0 0 / 65%), rgb(0 0 0 / 25%)),url(./img/coffee-bg.jpg) no-repeat bottom center fixed;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr max-content;
    gap: 2rem;
    transition: var(--transition);
    transition: opacity 3s ease-in-out;
}

nav {
    padding: 1rem 2rem;
    display: flex;
    background: var(--clr-neutral-900);
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

nav ul {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

nav li {
    position: relative;
    cursor: pointer;
    padding: .5rem 1rem;
    font-family: var(--ff-title2);
    font-size: 1.75rem;
    letter-spacing: 2px;
    color: var(--clr-neutral-200);
    transition: var(--transition);
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    padding-inline: 10vw;
    transition: var(--transition);
}

.home-p {
    max-width: 52ch;
}